body {
    margin: 0;
    padding: 0;
    background: url(/Img/background.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.logIn{
    width: 320px;
    height: 420px;
    background: #fff;
    color: #000;
    top: 50%;
    left: ;
}
